body {
  background-color: #c0c3ff;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 800px;
  min-height: 600px;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
  border: #8489ee 3px solid;
  background-color: #eef;
  padding: 30px;
}

.header-title {
  background-color: #8489ee;
  line-height: 2.5em;
  margin: 0 auto;
  color: #fff;
  text-shadow: 2px 1px 4px #666;
}

.title {
  text-align: left;
  margin: 20px 0;
  font-size: 24px;
}

.item-list-container {
  text-align: left;
}

.list-title-container, .item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-left: 30px;
}

.list-title-container {
  padding: 0 30px 10px 30px;
}

.item-container {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 30px;
}

.add-item-form {
  margin-bottom: 30px;
  border-bottom: 3px solid #8489ee;
  padding-bottom: 30px;
}

.list-title {
  font-weight: bold;
}

.item-name {
  width: 200px;
}

.total-container {
  text-align: right;
}

.total {
  font-size: 24px;
  font-weight: bold;
  margin-right: 80px;
}

.error-message {
  color: #ff1111;
  /* display: inline-block; */
  position: absolute;
  top:43px;
  left: 50px;
  font-size: 16px;
}

.btn {
  color: white;
  display: block;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: 2px 1px 4px #666;
  transition: ease-in-out 0.7s transform;
}

.btn:hover {
  transform: scale(1.2);
}

.submit-btn {
  background-color: #8489ee;
  margin-left: 10px;
}

.input-container{
  position: relative;
  padding-bottom: 40px;
  margin-right:20px;
  font-size: 22px;
}
.input-container input{
  border:none ;
  max-width: 150px;
  box-sizing: border-box;
  padding: 5px ;
  
}

.input-container input:focus{
  outline: none;
  border-bottom: 2px solid #8489ee;
  margin-bottom: -2px;

}
.delete-btn{
  background-color: #c0c3ff;
}
.delete-btn:hover{
  background-color: #ff1111;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
@media(max-width: 768px) {
  .inputs {
    display: flex;
    flex-wrap: wrap;
  }
  .list-title-container, .item-container {
    margin-left: 0;
  }
  .item-name {
    min-width: auto;
  }
}
@media(max-width: 481px) {
  .inputs {
    display: flex;
    flex-wrap: wrap;
  }
  .list-title-container, .item-container {
    margin-left: 0;
  }
  .item-name {
    min-width: auto;
  }
}